# EBAC - Regressão II - regressão múltipla

## Tarefa I

#### Previsão de renda

Vamos trabalhar com a base 'previsao_de_renda.csv', que é a base do seu próximo projeto. Vamos usar os recursos que vimos até aqui nesta base.

|variavel|descrição|
|-|-|
|data_ref                | Data de referência de coleta das variáveis |
|index                   | Código de identificação do cliente|
|sexo                    | Sexo do cliente|
|posse_de_veiculo        | Indica se o cliente possui veículo|
|posse_de_imovel         | Indica se o cliente possui imóvel|
|qtd_filhos              | Quantidade de filhos do cliente|
|tipo_renda              | Tipo de renda do cliente|
|educacao                | Grau de instrução do cliente|
|estado_civil            | Estado civil do cliente|
|tipo_residencia         | Tipo de residência do cliente (própria, alugada etc)|
|idade                   | Idade do cliente|
|tempo_emprego           | Tempo no emprego atual|
|qt_pessoas_residencia   | Quantidade de pessoas que moram na residência|
|renda                   | Renda em reais|

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('previsao_de_renda.csv')
df

,Unnamed: 0,data_ref,id_cliente,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda
0,0,2015-01-01,15056,F,False,True,0,Empresário,Secundário,Solteiro,Casa,26,6.602740,1.0,8060.34
1,1,2015-01-01,9968,M,True,True,0,Assalariado,Superior completo,Casado,Casa,28,7.183562,2.0,1852.15
2,2,2015-01-01,4312,F,True,True,0,Empresário,Superior completo,Casado,Casa,35,0.838356,2.0,2253.89
3,3,2015-01-01,10639,F,False,True,1,Servidor público,Superior completo,Casado,Casa,30,4.846575,3.0,6600.77
4,4,2015-01-01,7064,M,True,False,0,Assalariado,Secundário,Solteiro,Governamental,33,4.293151,1.0,6475.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2016-03-01,16006,F,False,True,0,Empresário,Secundário,Solteiro,Casa,48,13.887671,1.0,7990.58
14996,14996,2016-03-01,3722,F,False,True,0,Pensionista,Superior completo,Solteiro,Casa,57,NaN,1.0,10093.45
14997,14997,2016-03-01,6194,F,True,True,0,Assalariado,Superior completo,Casado,Casa,45,7.832877,2.0,604.82
14998,14998,2016-03-01,4922,M,True,False,0,Empresário,Superior completo,Casado,Casa,36,4.298630,2.0,3352.27
14999,14999,2016-03-01,14651,F,False,True,2,Servidor público,Secundário,União,Casa,34,7.219178,4.0,1160.99

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   data_ref               15000 non-null  object
 2   id_cliente             15000 non-null  int64
 3   sexo                   15000 non-null  object
 4   posse_de_veiculo       15000 non-null  bool
 5   posse_de_imovel        15000 non-null  bool
 6   qtd_filhos             15000 non-null  int64
 7   tipo_renda             15000 non-null  object
 8   educacao               15000 non-null  object
 9   estado_civil           15000 non-null  object
 10  tipo_residencia        15000 non-null  object
 11  idade                  15000 non-null  int64
 12  tempo_emprego          12427 non-null  float64
 13  qt_pessoas_residencia  15000 non-null  float64
 14  renda                  15000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 1.5+ MB

1. Ajuste um modelo para prever log(renda) considerando todas as covariáveis disponíveis.
    - Utilizando os recursos do Patsy, coloque as variáveis qualitativas como *dummies*.
    - Mantenha sempre a categoria mais frequente como casela de referência
    - Avalie os parâmetros e veja se parecem fazer sentido prático.

2. Remova a variável menos significante e analise:
    - Observe os indicadores que vimos, e avalie se o modelo melhorou ou piorou na sua opinião.
    - Observe os parâmetros e veja se algum se alterou muito.

3. Siga removendo as variáveis menos significantes, sempre que o *p-value* for menor que 5%. Compare o modelo final com o inicial. Observe os indicadores e conclua se o modelo parece melhor.

In [8]:
import pandas as pd
import statsmodels.api as sm
from patsy import dmatrices

# Carreguando os dados
df = pd.read_csv('previsao_de_renda.csv')

# Substitua NaN por zero na coluna 'tempo_emprego'
df['tempo_emprego'].fillna(0, inplace=True)

# Crie a fórmula
formula = 'np.log(renda) ~ qtd_filhos + idade + tempo_emprego + qt_pessoas_residencia + renda + data_ref + sexo + tipo_renda + educacao + estado_civil + tipo_residencia'

# Crie as matrizes de design
y, X = dmatrices(formula, df, return_type='dataframe')

# Ajuste o modelo de regressão linear
model = sm.OLS(y, X)
result = model.fit()

# Imprima as estatísticas do modelo
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.602
Method:                 Least Squares   F-statistic:                     613.2
Date:                Sat, 02 Mar 2024   Prob (F-statistic):               0.00
Time:                        21:01:17   Log-Likelihood:                -12504.
No. Observations:               15000   AIC:                         2.508e+04
Df Residuals:                   14962   BIC:                         2.537e+04
Df Model:                          37
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            7.0539      0.176     40.138      0.000       6.709       7.398
data_ref[T.2015-02-01]              -0.0017      0.025     -0.070      0.945      -0.051       0.047
data_ref[T.2015-03-01]               0.0285      0.025      1.142      0.253      -0.020       0.077
data_ref[T.2015-04-01]              -0.0045      0.025     -0.181      0.856      -0.053       0.044
data_ref[T.2015-05-01]              -0.0349      0.025     -1.397      0.162      -0.084       0.014
data_ref[T.2015-06-01]               0.0196      0.025      0.786      0.432      -0.029       0.069
data_ref[T.2015-07-01]              -0.0059      0.025     -0.238      0.812      -0.055       0.043
data_ref[T.2015-08-01]              -0.0139      0.025     -0.558      0.577      -0.063       0.035
data_ref[T.2015-09-01]              -0.0209      0.025     -0.837      0.403      -0.070       0.028
data_ref[T.2015-10-01]              -0.0049      0.025     -0.194      0.846      -0.054       0.044
data_ref[T.2015-11-01]              -0.0165      0.025     -0.658      0.510      -0.065       0.033
data_ref[T.2015-12-01]               0.0055      0.025      0.219      0.827      -0.044       0.055
data_ref[T.2016-01-01]              -0.0500      0.025     -2.002      0.045      -0.099      -0.001
data_ref[T.2016-02-01]              -0.0160      0.025     -0.641      0.521      -0.065       0.033
data_ref[T.2016-03-01]              -0.0502      0.025     -2.010      0.044      -0.099      -0.001
sexo[T.M]                            0.4342      0.011     39.913      0.000       0.413       0.455
tipo_renda[T.Bolsista]               0.2972      0.186      1.595      0.111      -0.068       0.662
tipo_renda[T.Empresário]             0.1048      0.012      9.085      0.000       0.082       0.127
tipo_renda[T.Pensionista]            0.1116      0.019      5.988      0.000       0.075       0.148
tipo_renda[T.Servidor público]       0.0475      0.017      2.767      0.006       0.014       0.081
educacao[T.Pós graduação]            0.0365      0.118      0.309      0.757      -0.195       0.268
educacao[T.Secundário]              -0.0870      0.044     -1.979      0.048      -0.173      -0.001
educacao[T.Superior completo]       -0.0007      0.044     -0.015      0.988      -0.088       0.086
educacao[T.Superior incompleto]     -0.0940      0.050     -1.894      0.058      -0.191       0.003
estado_civil[T.Separado]             0.2016      0.084      2.405      0.016       0.037       0.366
estado_civil[T.Solteiro]             0.1778      0.082      2.163      0.031       0.017       0.339
estado_civil[T.União]               -0.0118      0.018     -0.656      0.512      -0.047       0.023
estado_civil[T.Viúvo]                0.2225      0.085      2.630      0.009       0.057       0.388
tipo_residencia[T.Casa]             -0.0087      0.041     -0.215      0.830      -0.088       0.071
tipo_residencia[T.Com os pais]      -0.0039      0.046     -0.086      0.932      -0.093       0.085
tipo_residencia[T.Comunitário]      -0.0803      0.081     -0.994      0.320      -0.239       0.078
tipo_residencia[T.Estúdio]           0.0530      0.073      0.722      0.471      -0.091       0.197
tipo_residencia[T.Governamental]    -0.0379      0.048     -0.787      0.431      -0.132       0.057
qtd_filhos                          -0.1687      0.082     -2.066      0.039      -0.329      -0.009
idade                                0.0029      0.001      4.966      0.000       0.002       0.004
tempo_emprego                        0.0267      0.001     30.633      0.000       0.025       0.028
qt_pessoas_residencia                0.1869      0.082      2.293      0.022       0.027       0.347
renda                             6.295e-05   6.41e-07     98.169      0.000    6.17e-05    6.42e-05
==============================================================================
Omnibus:                     9148.501   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           425948.339
Skew:                          -2.280   Prob(JB):                         0.00
Kurtosis:                      28.704   Cond. No.                     5.49e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [9]:
# Imprima o resumo de resultados
print(result.summary())

# Encontre a variável menos significativa com o maior valor-p
least_significant_variable = result.pvalues.idxmax()

# Remova a variável menos significativa da fórmula
new_formula = formula.replace(f" + {least_significant_variable}", "")

# Recalcule as matrizes de design com a nova fórmula
y_new, X_new = dmatrices(new_formula, df, return_type='dataframe')

# Ajuste o modelo de regressão linear com a nova fórmula
model_new = sm.OLS(y_new, X_new)
result_new = model_new.fit()

# Imprima as estatísticas do novo modelo
print(result_new.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.602
Method:                 Least Squares   F-statistic:                     613.2
Date:                Sat, 02 Mar 2024   Prob (F-statistic):               0.00
Time:                        21:02:11   Log-Likelihood:                -12504.
No. Observations:               15000   AIC:                         2.508e+04
Df Residuals:                   14962   BIC:                         2.537e+04
Df Model:                          37
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            7.0539      0.176     40.138      0.000       6.709       7.398
data_ref[T.2015-02-01]              -0.0017      0.025     -0.070      0.945      -0.051       0.047
data_ref[T.2015-03-01]               0.0285      0.025      1.142      0.253      -0.020       0.077
data_ref[T.2015-04-01]              -0.0045      0.025     -0.181      0.856      -0.053       0.044
data_ref[T.2015-05-01]              -0.0349      0.025     -1.397      0.162      -0.084       0.014
data_ref[T.2015-06-01]               0.0196      0.025      0.786      0.432      -0.029       0.069
data_ref[T.2015-07-01]              -0.0059      0.025     -0.238      0.812      -0.055       0.043
data_ref[T.2015-08-01]              -0.0139      0.025     -0.558      0.577      -0.063       0.035
data_ref[T.2015-09-01]              -0.0209      0.025     -0.837      0.403      -0.070       0.028
data_ref[T.2015-10-01]              -0.0049      0.025     -0.194      0.846      -0.054       0.044
data_ref[T.2015-11-01]              -0.0165      0.025     -0.658      0.510      -0.065       0.033
data_ref[T.2015-12-01]               0.0055      0.025      0.219      0.827      -0.044       0.055
data_ref[T.2016-01-01]              -0.0500      0.025     -2.002      0.045      -0.099      -0.001
data_ref[T.2016-02-01]              -0.0160      0.025     -0.641      0.521      -0.065       0.033
data_ref[T.2016-03-01]              -0.0502      0.025     -2.010      0.044      -0.099      -0.001
sexo[T.M]                            0.4342      0.011     39.913      0.000       0.413       0.455
tipo_renda[T.Bolsista]               0.2972      0.186      1.595      0.111      -0.068       0.662
tipo_renda[T.Empresário]             0.1048      0.012      9.085      0.000       0.082       0.127
tipo_renda[T.Pensionista]            0.1116      0.019      5.988      0.000       0.075       0.148
tipo_renda[T.Servidor público]       0.0475      0.017      2.767      0.006       0.014       0.081
educacao[T.Pós graduação]            0.0365      0.118      0.309      0.757      -0.195       0.268
educacao[T.Secundário]              -0.0870      0.044     -1.979      0.048      -0.173      -0.001
educacao[T.Superior completo]       -0.0007      0.044     -0.015      0.988      -0.088       0.086
educacao[T.Superior incompleto]     -0.0940      0.050     -1.894      0.058      -0.191       0.003
estado_civil[T.Separado]             0.2016      0.084      2.405      0.016       0.037       0.366
estado_civil[T.Solteiro]             0.1778      0.082      2.163      0.031       0.017       0.339
estado_civil[T.União]               -0.0118      0.018     -0.656      0.512      -0.047       0.023
estado_civil[T.Viúvo]                0.2225      0.085      2.630      0.009       0.057       0.388
tipo_residencia[T.Casa]             -0.0087      0.041     -0.215      0.830      -0.088       0.071
tipo_residencia[T.Com os pais]      -0.0039      0.046     -0.086      0.932      -0.093       0.085
tipo_residencia[T.Comunitário]      -0.0803      0.081     -0.994      0.320      -0.239       0.078
tipo_residencia[T.Estúdio]           0.0530      0.073      0.722      0.471      -0.091       0.197
tipo_residencia[T.Governamental]    -0.0379      0.048     -0.787      0.431      -0.132       0.057
qtd_filhos                          -0.1687      0.082     -2.066      0.039      -0.329      -0.009
idade                                0.0029      0.001      4.966      0.000       0.002       0.004
tempo_emprego                        0.0267      0.001     30.633      0.000       0.025       0.028
qt_pessoas_residencia                0.1869      0.082      2.293      0.022       0.027       0.347
renda                             6.295e-05   6.41e-07     98.169      0.000    6.17e-05    6.42e-05
==============================================================================
Omnibus:                     9148.501   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           425948.339
Skew:                          -2.280   Prob(JB):                         0.00
Kurtosis:                      28.704   Cond. No.                     5.49e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.602
Method:                 Least Squares   F-statistic:                     613.2
Date:                Sat, 02 Mar 2024   Prob (F-statistic):               0.00
Time:                        21:02:11   Log-Likelihood:                -12504.
No. Observations:               15000   AIC:                         2.508e+04
Df Residuals:                   14962   BIC:                         2.537e+04
Df Model:                          37
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            7.0539      0.176     40.138      0.000       6.709       7.398
data_ref[T.2015-02-01]              -0.0017      0.025     -0.070      0.945      -0.051       0.047
data_ref[T.2015-03-01]               0.0285      0.025      1.142      0.253      -0.020       0.077
data_ref[T.2015-04-01]              -0.0045      0.025     -0.181      0.856      -0.053       0.044
data_ref[T.2015-05-01]              -0.0349      0.025     -1.397      0.162      -0.084       0.014
data_ref[T.2015-06-01]               0.0196      0.025      0.786      0.432      -0.029       0.069
data_ref[T.2015-07-01]              -0.0059      0.025     -0.238      0.812      -0.055       0.043
data_ref[T.2015-08-01]              -0.0139      0.025     -0.558      0.577      -0.063       0.035
data_ref[T.2015-09-01]              -0.0209      0.025     -0.837      0.403      -0.070       0.028
data_ref[T.2015-10-01]              -0.0049      0.025     -0.194      0.846      -0.054       0.044
data_ref[T.2015-11-01]              -0.0165      0.025     -0.658      0.510      -0.065       0.033
data_ref[T.2015-12-01]               0.0055      0.025      0.219      0.827      -0.044       0.055
data_ref[T.2016-01-01]              -0.0500      0.025     -2.002      0.045      -0.099      -0.001
data_ref[T.2016-02-01]              -0.0160      0.025     -0.641      0.521      -0.065       0.033
data_ref[T.2016-03-01]              -0.0502      0.025     -2.010      0.044      -0.099      -0.001
sexo[T.M]                            0.4342      0.011     39.913      0.000       0.413       0.455
tipo_renda[T.Bolsista]               0.2972      0.186      1.595      0.111      -0.068       0.662
tipo_renda[T.Empresário]             0.1048      0.012      9.085      0.000       0.082       0.127
tipo_renda[T.Pensionista]            0.1116      0.019      5.988      0.000       0.075       0.148
tipo_renda[T.Servidor público]       0.0475      0.017      2.767      0.006       0.014       0.081
educacao[T.Pós graduação]            0.0365      0.118      0.309      0.757      -0.195       0.268
educacao[T.Secundário]              -0.0870      0.044     -1.979      0.048      -0.173      -0.001
educacao[T.Superior completo]       -0.0007      0.044     -0.015      0.988      -0.088       0.086
educacao[T.Superior incompleto]     -0.0940      0.050     -1.894      0.058      -0.191       0.003
estado_civil[T.Separado]             0.2016      0.084      2.405      0.016       0.037       0.366
estado_civil[T.Solteiro]             0.1778      0.082      2.163      0.031       0.017       0.339
estado_civil[T.União]               -0.0118      0.018     -0.656      0.512      -0.047       0.023
estado_civil[T.Viúvo]                0.2225      0.085      2.630      0.009       0.057       0.388
tipo_residencia[T.Casa]             -0.0087      0.041     -0.215      0.830      -0.088       0.071
tipo_residencia[T.Com os pais]      -0.0039      0.046     -0.086      0.932      -0.093       0.085
tipo_residencia[T.Comunitário]      -0.0803      0.081     -0.994      0.320      -0.239       0.078
tipo_residencia[T.Estúdio]           0.0530      0.073      0.722      0.471      -0.091       0.197
tipo_residencia[T.Governamental]    -0.0379      0.048     -0.787      0.431      -0.132       0.057
qtd_filhos                          -0.1687      0.082     -2.066      0.039      -0.329      -0.009
idade                                0.0029      0.001      4.966      0.000       0.002       0.004
tempo_emprego                        0.0267      0.001     30.633      0.000       0.025       0.028
qt_pessoas_residencia                0.1869      0.082      2.293      0.022       0.027       0.347
renda                             6.295e-05   6.41e-07     98.169      0.000    6.17e-05    6.42e-05
==============================================================================
Omnibus:                     9148.501   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           425948.339
Skew:                          -2.280   Prob(JB):                         0.00
Kurtosis:                      28.704   Cond. No.                     5.49e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

-----------------------------------------------------------------------------------------------------------------
Insight;

O modelo final, após a remoção da variável menos significativa, manteve estatísticas importantes, como R-squared, Adjusted R-squared e F-statistic, inalteradas em comparação com o modelo inicial. Isso sugere que a remoção não comprometeu significativamente a capacidade explicativa do modelo. Embora alguns coeficientes possam ter mudado ligeiramente, a simplificação parece ter sido eficaz sem prejudicar substancialmente o desempenho do modelo. No entanto, a interpretação específica dos coeficientes deve ser feita considerando o contexto da variável removida.